/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-create-block-section-divider-block {
	position: relative;
	padding: 75px 0;
}

.is-root-container, .is-layout-constrained {
	.wp-block-create-block-section-divider-block {
		margin-block-start: 0;
	}
}

.section-divider-block-top, .section-divider-block-bottom {
	position:  absolute;
	top: 0;
	left: 0;
}

.section-divider-block-top {
	rotate: 180deg;
	margin-bottom: -1px;
}
.section-divider-block-bottom {
	margin-top: -1px;
}

.section-divider-block-flip {
	transform: scaleX(-1);
}

.section-divider-block-arc, .section-divider-block-curve, .section-divider-block-inter-curves,
.section-divider-block-bubble, .section-divider-block-asym-slope, .section-divider-block-asym-triangle,
.section-divider-block-inter-tilt, .section-divider-block-grunge, .section-divider-block-inter-waves,
.section-divider-block-triangle,  .section-divider-block-steps, .section-divider-block-layered-curves,
.section-divider-block-inter-waves-scattered {
	
	height:100%;
	min-height: 20px;
	min-width: 100%;
}

.section-divider-block-arc {
	
    -webkit-mask:  url('svg-assets/arc-divider.svg');
    mask: url('svg-assets/arc-divider.svg');
	mask-size: 100% 100%; /* OR cover OR fixed values */
  	mask-position: center top;
  	mask-repeat: repeat-x;
	
}

.section-divider-block-curve {
	
    -webkit-mask:  url('svg-assets/curve-divider.svg');
    mask: url('svg-assets/curve-divider.svg'); 
	mask-size: 100% 100%; /* OR cover OR fixed values */
  	mask-position: center top;
  	mask-repeat: repeat-x;
	
}

.section-divider-block-inter-curves {
	
    -webkit-mask:  url('svg-assets/intersecting-curves.svg');
    mask: url('svg-assets/intersecting-curves.svg');
	mask-size: 100% 100%; /* OR cover OR fixed values */
  	mask-position: center top;
  	mask-repeat: repeat-x;	
}

.section-divider-block-bubble {
	-webkit-mask: url('svg-assets/bubble-divider.svg');
	mask: url('svg-assets/bubble-divider.svg');
	mask-size: 100% 100%; /* OR cover OR fixed values */
  	mask-position: center top;
  	mask-repeat: repeat-x;
	
} 

.section-divider-block-asym-slope {
	-webkit-mask: url('svg-assets/slope-asymmetrical-divider.svg');
	mask: url('svg-assets/slope-asymmetrical-divider.svg');
	mask-size: 100% 100%; /* OR cover OR fixed values */
  	mask-position: center top;
  	mask-repeat: repeat-x;
} 

.section-divider-block-asym-triangle {
	-webkit-mask: url('svg-assets/triangle-asymmetrical-divider-inverse.svg');
	mask: url('svg-assets/triangle-asymmetrical-divider-inverse.svg');
	mask-size: 100% 100%; /* OR cover OR fixed values */
  	mask-position: center top;
  	mask-repeat: repeat-x;
} 

.section-divider-block-inter-tilt {
	-webkit-mask: url('svg-assets/intersecting-tilt-angles.svg');
	mask: url('svg-assets/intersecting-tilt-angles.svg');
	mask-size: 100% 100%; /* OR cover OR fixed values */
  	mask-position: center top;
  	mask-repeat: repeat-x;
} 

.section-divider-block-grunge {
	-webkit-mask: url('svg-assets/grunge.svg');
	mask: url('svg-assets/grunge.svg');
	mask-size: 100% 100%; /* OR cover OR fixed values */
  	mask-position: center top;
  	mask-repeat: repeat-x;
} 

.section-divider-block-inter-waves {
	-webkit-mask: url('svg-assets/intersecting-wave-layers.svg');
	mask: url('svg-assets/intersecting-wave-layers.svg');
	mask-size: 100% 100%; /* OR cover OR fixed values */
  	mask-position: center top;
  	mask-repeat: repeat-x;
} 

.section-divider-block-triangle {
	-webkit-mask: url('svg-assets/triangle-divider.svg');
	mask: url('svg-assets/triangle-divider.svg');
	mask-size: 100% 100%; /* OR cover OR fixed values */
  	mask-position: center top;
  	mask-repeat: repeat-x;
} 

.section-divider-block-steps {
	-webkit-mask: url('svg-assets/wavy-steps.svg');
	mask: url('svg-assets/wavy-steps.svg');
	mask-size: 100% 100%; /* OR cover OR fixed values */
  	mask-position: center top;
  	mask-repeat: repeat-x;
} 

.section-divider-block-layered-curves {
	-webkit-mask: url('svg-assets/layered-curves.svg');
	mask: url('svg-assets/layered-curves.svg');
	mask-size: 100% 100%; /* OR cover OR fixed values */
  	mask-position: center top;
  	mask-repeat: repeat-x;
} 

.section-divider-block-inter-waves-scattered {
	-webkit-mask: url('svg-assets/intersecting-waves-scattered.svg');
	mask: url('svg-assets/intersecting-waves-scattered.svg');
	mask-size: 100% 100%; /* OR cover OR fixed values */
  	mask-position: center top;
  	mask-repeat: repeat-x;
} 